
html, *{
    margin: 0;
    padding: 0;
}
.uncc {
    font-weight: 900;
    color: green;
}

.container {
    max-width: none;
    margin: 0 auto;
    max-height: 400px;
}

body {
    background-color: grey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    align-items: center;
    display: flex;
    background-color: rgb(122, 122, 199);
    padding: 20px 60px;
    justify-content: space-between;
    width: auto;
    margin: 0px;
}

h1 {
    padding: 20px;
}
h2 {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    font-family: cursive;
}

nav a{
    color: darkgreen;  
    font-size: large;
    border-bottom: 4px dotted darkgreen;
    margin: 4px;
    padding: 4px;

} 
.body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 16%;
    height: 50%;
    border: solid black 4px;
    border-radius: 10px;
}
#About-Me {
    text-align: center;
}
.TheAbout {
    font-weight: 500;
    text-align: center;
    text-shadow: lightslategray;
}
.Hero {
    align-content: center;
}

section > div {
    border-bottom: black 6px solid;
    font-size: 50px;
    margin: 4px;
    padding: 4px;
}
#columnHeader {
    height: fit-content;
    padding-left: 20px;
    padding-top: 10px;
    border-top-left-radius: 60px;
    font-size: larger;
}

.h2 {
    font-size: 32px;
    margin: 24px;
    padding-bottom: 12px;
    color: black;
    border-bottom: rgb(189, 183, 183) solid 6px;
    /* border-bottom: black solid 6px; */
}

.my-projects {
    display: flex;
}

.first-project {
    width: 800px;
    min-height: 280px;
    border: 4px solid rgb(189, 183, 183);
    /* border: 4px solid black; */
    box-sizing: border-box;
    margin-bottom: 16px;
    /* background-color: rgb(97, 6, 6); */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
    background-image: url("cuPets.png");
    background-repeat: repeat;
    opacity: 0.8;
    transition: all 100ms ease;
    border-radius: 50px;
}

.first-project:hover {
    transform: translateY(-6px);
    opacity: 1;
}

.first-homework {
    border: 4px solid rgb(189, 183, 183);
    /* border: 4px solid black; */
    width: 800px;
    min-height: 140px;
    box-sizing: border-box;
    margin-bottom: 16px;
    background-color: rgb(97, 6, 6);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
    background-image: url("movieFinder.png");
    background-repeat: repeat;
    opacity: 0.5;
    transition: all 100ms ease;
    border-radius: 50px;

}

.first-homework:hover {
    transform: translateY(-6px);
    opacity: 1;
}

.second-homework {
    border: 4px solid rgb(189, 183, 183);
    /* border: 4px solid black; */
    width: 800px;
    min-height: 140px;
    box-sizing: border-box;
    margin-bottom: 16px;
    background-color: rgb(97, 6, 6);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
    background-image: url("Weatherfinder.png");
    background-repeat: repeat;
    opacity: 0.5;
    transition: all 100ms ease;
    border-radius: 50px;
}

.second-homework:hover {
    transform: translateY(-6px);
    opacity: 1;
}
nav a:hover ,
.phoneNumber:hover , .gitHub:hover , .email:hover {
    box-shadow: inset 0px 0px 8px white, 0 0 15px white; 
}

.Contact nav {
    border-color: greenyellow;
    font-size: large;
    color: hotpink;
}
h3 {
    border-bottom: dotted black 4px;
    margin: 4px;
    padding: 4px;
}
.Contact {
    border-radius: 30px;
    margin: 0 auto;
    padding: 20px;
    float: none;
    width: 20%;
    height: 28%;
    background-color: lightskyblue;
    font-size: larger;
    text-align: center;
    font-family: cursive;
    display: flexbox;
    flex-direction: row;
}

.phoneNumber {
    margin-bottom: 16px;
    color: black;
    display: flex;
    justify-content: center;
}

.gitHub {
    margin-bottom: 16px;
    color: black;
    display: flex;
    justify-content: center;
}
.email {
    margin-bottom: 16px;
    color: black;
    display: flex;
    justify-content: center;
}
#Resume {
    float: left;
    justify-content: center;
}

